@media (min-width: 576px) {
  #header #header-support {
    display: block;
  }

  /* End header  */
}
/* Medium devices (tablet, 768px and up) */
@media (min-width: 768px) {
  /* End header  */
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header #header-support {
    display: flex;
  }

  #wrapper #header-menu #main-menu {
    display: flex;
  }
  #header #navbar-toggle {
    display: none;
  }
  #responsive-menu-item {
    display: none;
  }
  /* End header  */
}
/* Exstra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
